@import './variables';
@import './mixins';

* {
  box-sizing: border-box;
}

body {
  font-family: $font-stack;
  background-color: $primary-color;
  margin: 0;
  padding: 0;
  color: white;

  h1 {
    font-size: clamp(1rem, 0.6rem + 2vw, 3rem);
    text-align: center;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;

    @include respond(medium) {
      padding: 0.5rem;
    }

    @include respond(large) {
      max-width: 800px;
    }
  }
}
